#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  place-content: center;
  place-items: center;

}

.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;


}

body {
  background-image: url("https://wallpaperaccess.com/full/3115149.jpg");
  background-repeat: round;
  background-size: contain;
  font-family: 'Times New Roman', Times, serif;
  color: beige;
  place-content: center;
  place-items: center;
}


ul {

  padding: 0;
}

ul li {
  list-style: none;
  color: beige;
  margin: 2rem;
  font-weight: 600;
  font-size: x-large;
  font-size: medium;
}

img {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px #b7b1b1;
  width: 200px;

  transition: 1s linear;
}

img:hover {
  box-shadow: 1px 1px 15px 1px rgb(51, 21, 184);
}

input {
  border-radius: 5px;
  margin: 0.2rem;
  background: rgb(1, 20, 14);
  color: whitesmoke;
  box-shadow: 1px 1px 15px 1px lightcyan;
  transition: 1s linear;

}

input:hover {
  box-shadow: 1px 1px 15px 1px #c11010;
}

button {
  opacity: 0.8;
  box-sizing: content-box;
  background: beige;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 2s linear;
}

button:hover {
  box-shadow: 1px 1px 15px 1px rgb(176, 175, 187);
}


.list {

  display: inline-grid;
  grid-template-columns: min-content;
  justify-content: center;
  transition: 1s linear;
  transition-property: all;
  box-shadow: 0px 0px 7px 1px #d1c7c7;
  justify-content: space-between;
  margin: 1rem;
  place-items: center;
  border-radius: 10px;

}

.list:hover {
  box-shadow: 1px 1px 15px 2px #c11010;

}

.infoo {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 1.5rem;
  padding: 0.5rem;
}

.background {
  padding: 13rem;
  background-image: url("https://i.pinimg.com/originals/5b/66/7d/5b667d877265b876259a1633403b0ec9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.here {
  background-image: url("https://wallpaperaccess.com/full/1566582.jpg");
  background-size: contain;
  padding: 1rem;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: revert;
  font-family: cursive;
  color: beige;
}

footer {
  transition: 1s linear;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-direction: center;
  text-align: center;
}

footer:hover {
  color: rgb(117, 121, 136);
  text-shadow: #b7b1b1;
}